@using SportsEquipmentShop.Models;

<h1 id="ShoeTitle">Sale!</h1>

@foreach (Shoe item in Model)
{
    if (@item.price < 200 || @item.price == 200)
    {
        <section id="ShooesData">
            <div>

                <p class="ShoeTitle">
                    @item.Company

                    @item.Model
                </p>

                <h4 class="ShoeTitle">  @item.price $</h4>

                <img id="ShoeImage" src=@item.image>


            </div>
        </section>
    }


}



