

@using SportsEquipmentShop.Models;


<section id="TableSection">
    <h1 id="ShoeTitle">All Equipment</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Sport</th>
            <th>ProductName</th>
            <th>Company</th>
            <th>Price</th>
            <th>Amount</th>
            <th>TeamId</th>
            <th>Image</th>



        </tr>

        @foreach (SportsEquipment item in Model)
        {
           
                <tr>
                    <td>@item.Id</td>
                    <td>@item.sport</td>
                    <td> @item.ProductName</td>
                    <td> @item.company</td>
                    <td> @item.price $ </td>
                    <td>@item.amount</td>
                    <td>@item.TeamId</td>
                    <td><img src=@item.image style="width:100px"></td>
                </tr>
         

        }
    </table>
</section>